__pycache__/
draw/__pycache__/
draw/final
src/image/
.gitignore
test.py
src/heatmap.json
src/rplace/
.vscode/
src/drawPixelInHours/selectedPixels.txt
src/heatmap/heatmap.json
src/colors/colors.json
src/users/person.json
src/users/stats.txt
src/users/userstat.json